<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV WEB</title>
    <link rel="stylesheet" href="../css/style.css">

</head> 
<body>
<div id="header">
    <div class="column-4">
        <p class="contacto">633560623</p>  <p class="contacto">suarezmartinezaaron@gmail.com</p> <p class="contacto">Aaron Suarez</p>
    </div>
    <div class="column-41">
        <a class="english" href="../index.html"><b>spanish</b></a>
        <a class="english" href="./index.html"><b>who I am</b></a>ç
        <a class="english" href="./studies.html"><b>Estudios</b></a>
        <a class="download" href="../img/Black Gradient Professional Digital Marketing Resume.pdf"><b>descargar</b></a>
    </div>
</div>
<body>
    <h2>Experience</h2>
    <p class="pp">I have had very few experiences, here I leave you the only one I have had in a company in the IT environment, since I have also been working in a bar.</p>
</div>
<div class="column-3">
    <h4 class="yde exp em practiques"><u>COMPANY and SECTORS</u></h4>
    <p class="pp martop middle">Equivalenza Retail <br><br>
    Sector IT <br>
    </p>
</div>
<div class="column-3">
    <h4 class="exp em practiques"><u>FUNCTIONS AND RESPONSIBILITATS ASSUMIDES</u></h4>
    <p class="pp martop left">Installation and configuration of the company's machinery <br><br>
        Installation, configuration and maintenance of operating systems<br><br>
        Use of office tools<br><br>
        Installation and configuration of network services<br><br>
        Email management and electronic agenda operations</p>
</div>
<div class="column-3">
    <h4 class="exp em practiques"><u>TIME FRAME</u></h4>
    <p class="pp martop middle"> June 1, 2023 - December 7, 2023</p>
</div>
</div>
<div class="row skills fondo">
<div class="column-1">

</body>