<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV WEB</title>
    <link rel="stylesheet" href="../../css/style.css">
</head> 
<body>
<div id="header">
    <div class="column-4">
        <p class="contacto">633560623</p>  <p class="contacto">suarezmartinezaaron@gmail.com</p> <p class="contacto">Aaron Suarez</p>
    </div>
    <div class="column-41">
        <a class="english" href="../../index.html"><b>Spanish</b></a>
        <a class="english" href="./studies.html"><b>studies</b></a>
        <a class="english" href="./experience.html"><b>Experience</b></a>
        <a class="download" href="../img/Black Gradient Professional Digital Marketing Resume.pdf"><b>download</b></a>
    </div>
</div>
<div class="row fondo">
    <div class="column-1 est">
        <h2>¿Who I am?</h2>
    </div>
    <div class="column-2">
        <iframe class="youtube" width="560" height="500" src="../../img/3 de mayo de 2024.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="column-2">
        <p class="qui pp yo">Hello, I'm Aaron Suarez and this is my resume, here you have a presentation video so you can know more about me. </p>
    </div>
</div>
<div class="row fondo">
    <div class="column-1 est">
</div>
<div class="row fondo">
    <div class="column-1 est">
        <h2>Hobbies</h2>
    </div>
    <div>
        <p class="qui medio pp">I love football, it is a passion that I have had for years. Whether it's watching games on TV or playing with friends in the park, I always find joy in this sport. Going out with friends is another of my favorite activities. I enjoy spending time with them, whether it's exploring the city, going somewhere new to eat, or just chatting in a cafe. Lastly, I like to relax by watching movies or series. It's a way to disconnect from daily stress and immerse myself in fascinating stories. I am always looking for recommendations and new titles to watch. In short, I spend my free time between football, the company of friends and entertainment with movies and series. They are activities that help me maintain a balance between fun and relaxation in my life.</p>
    </div>
    <br>
    <div class="row skills fondo">
        <div class="column-1">
            <h2>Languages</h2>
        </div>
        <div class="column-3">
            <h4>Spanish</h4>
            <progress id="file" max="100" value="100"></progress>
        </div>
        <div class="column-3">
            <h4>Catalan</h4>
            <progress id="file" max="100" value="100"></progress>
        </div>
        <div class="column-3">
            <h4>English</h4>
            <progress id="file" max="100" value="75"></progress>
        </div>
        <div class="column-3 last">
            <h4>French</h4>
            <progress id="file" max="100" value="50"></progress>
        </div>
    </div>
</div>