<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV WEB</title>
    <link rel="stylesheet" href="../css/style.css">

</head> 
<body>
<div id="header">
    <div class="column-4">
        <p class="contacto">633560623</p>  <p class="contacto">suarezmartinezaaron@gmail.com</p> <p class="contacto">Aaron Suarez</p>
    </div>
    <div class="column-41">
        <a class="english" href="../view/en/index.html"><b>English</b></a>
        <a class="english" href="../index.html"><b>Quien soy</b></a>ç
        <a class="english" href="./estudios.html"><b>Estudios</b></a>
        <a class="download" href="../img/Black Gradient Professional Digital Marketing Resume.pdf"><b>descargar</b></a>
    </div>
</div>
<body>
    <h2>Experiència</h2>
    <p class="pp">He tenido muy pocas experencias, aqui os dejo la unica que he tenido en una empresa en el entorno de la informatica, ya que tambien he estado trabjando en un bar.</p>
</div>
<div class="column-3">
    <h4 class="yde exp em practiques"><u>EMPRESSA I SECTORS</u></h4>
    <p class="pp martop middle">Equivalenza Retail <br><br>
    Sector IT <br>
    </p>
</div>
<div class="column-3">
    <h4 class="exp em practiques"><u>FUNCIONES Y RESPONSABILIDADES ASUMIDAS</u></h4>
    <p class="pp martop left">Instalacion y congiguracion de la maquinaria de la empresa <br><br>
    Instalacion, configuracion y mantenimiento de los sistemas operativos <br><br>
Utilizacion de herramientas ofimaticas <br><br>
Instalacion i configuracion de servicios de red <br><br>
Operaciones de gestiones de correo y agenda electronica</p>
</div>
<div class="column-3">
    <h4 class="exp em practiques"><u>PERIODO DE TIEMPO</u></h4>
    <p class="pp martop middle"> 1 de junio de 2023 - 7 de diciembre de 2023</p>
</div>
</div>
<div class="row skills fondo">
<div class="column-1">
</body>